html body .btn-base {
    border-radius: 15px;
    border: none;
    padding: 20px 20px 20px 20px;
    max-width: fit-content;
    font-size: 22px;
    font-weight: 500;
}

html body .btn-base img{
    margin-left: 15px;
}

html body .primary-btn {
    color: #000 !important;
    background: #64FFB1 !important;
}

html body .primary-btn:hover {
    background-color: #2bfc93 !important;
}