html body .btn-base {
    border-radius: 8px;
    border: none;
    padding: 10px 15px 10px 15px;
    max-width: fit-content;
}

html body .primary-btn {
    color: #000 !important;
    background: #64FFB1 !important;
}

html body .primary-btn:hover {
    background-color: #2bfc93 !important;
}